<div class="container">
  <div class="form__container">
    <form [formGroup]="exform">
      <div class="form__group">
        <label class="form__label">Name:</label>
        <input [ngClass]="{'error': name.invalid && name.touched}" formControlName="name" type="text" class="form__input">
        <small *ngIf="name.invalid && name.touched" class="text-danger">Name is Required</small>
        <!-- <small *ngIf="exform.get('name').invalid && exform.get('name').touched" class="text-danger">Name is Required</small> -->
      </div>
      <div class="form__group">
        <label class="form__label">Email</label>
        <input [ngClass]="{'error': email.invalid && email.touched}" formControlName="email" class="form__input" type="text">
        <small *ngIf="email.invalid && email.touched" class="text-danger">Email is Required</small>
      </div>
      <div class="form__group">
        <label class="form__label">Phone</label>
        <input [ngClass]="{'error': phone.invalid && phone.touched}" formControlName="phone" [textMask]="{mask: phoneMask}" class="form__input" type="text">
        <small *ngIf="phone.invalid && phone.touched" class="text-danger">Phone no is Required(minimum length 10,numbers are only allowed)</small>
      </div>
      <div class="form__group">
        <label class="form__label">Password</label>
        <input [ngClass]="{'error': password.invalid && password.touched}" formControlName="password" class="form__input" type="text">
        <small *ngIf="password.invalid && password.touched" class="text-danger">Password no is Required(minimum length 4, maximum length 8)</small>
      </div>
      <div class="form__group">
        <label class="form__label">Repeat the password</label>
        <input class="form__input" type="text">
        <small class="text-danger">Password no is Required(minimum length 4, maximum length 8)</small>
      </div>
      <button (click)="clicksub()" [disabled]="exform.invalid" type="button" class="form__btn">Send</button>
    </form>
  </div>
</div>